*{
  /* border: 1px red dotted; */
  margin: 0;
  font-family: 'Press Start 2p', cursive;
}

.start-page{
  text-align: center;
  color: white;
  text-transform: uppercase;
  grid-column: 2 / span 2;
  grid-row: 3;
}

h2 {
  line-height: 150%;
}

.player-select {
  display: none;
  line-height: 250%;
  margin: 2vh auto;
}

.minimalist {
  text-transform: lowercase;
}

/* #one-player{
  margin: 2vh auto;
}

#two-player{
  margin: 2vh
} */

.footnotes {

}

.container{
  font-family: 'Press Start 2p', cursive;
  /* position: absolute; */
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  background-color: rgb(40, 44, 51);
  border: none;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1{
  font-size: calc(20pt + 1vh);
  place-self: center;
}

ul{
  font-size: calc(16pt + 1vh);
  line-height: 300%;
  color: gold;
}

li {
  font-size: calc(14pt + 1vh);
  margin-left: 2vh;

}

.stats {
  grid-row: 2;
  color: white;
  margin: 1vw 0 1vw 5vw;
  font-size: 3vh;
  display: none;
}

.press-start {
  margin: 5vw auto;
}

#score {
  grid-column: 2;
  justify-self: start;
  align-self: end;
}

#lives {
  grid-column: 3;
  justify-self: start;
  align-self: end;
}

.game-grid {
  grid-column: 2 / span 2;
  grid-row: 3;
  justify-self: center;
}

.square {
  background-color: lightblue;
  display: inline-block;
  width: 3vw;
  height: 3vw;
  /* margin: 1px; */
}

.player-bullet {
  background-color: navy;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
}

.row{
  font-size: 0;
}

.player{
  background-color: blue;
  z-index: 2;
}

.life-icon{
  width: 1.5vw;
  height: 1.5vw;
  background-color: blue;
  display: inline-block;
  margin: .25vw .5vw;
}

.ground{
  background-color: purple;
}

.hazard{
  background-color: red;
}

.goal{
  background-color: gray;
}

.enemy{
  background-color: teal;
}

.enemy-bullet{
  background-color: maroon;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
}
