*{
  border: 1px red dotted;
  margin: 0;
}

.container{
  /* position: absolute; */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: black;
  border: none;
  margin: 0;
  height: 100vh;
}

.game-grid{
  grid-column: 2;
  grid-row: 2;
}

.square{
  background-color: lightblue;
  display: inline-block;
  width: 3vw;
  height: 3vw;
  /* margin: 1px; */
}

.player-bullet{
  background-color: navy;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
}

.row{
  font-size: 0;
}

.player{
  background-color: blue;
}

.ground{
  background-color: purple;
}

.hazard{
  background-color: red;
}

.goal{
  background-color: gray;
}

.enemy{
  background-color: teal;
}

.enemy-bullet{
  background-color: maroon;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
}
